* {
    background-color: #cbfafd;
    width: 500px;
    font-family: Verdana, sans-serif;
}

h1, h2, h4 {
    margin-bottom: 0px;
}

p, ul, ol {
    margin-top: 5px;
}

ul, ol {
    padding-left: 25px;
}

ul {
    list-style-type: square;
}

.recipe-list {
    list-style-type: none;
    padding-left: 3px;
}

.recipe-list li {
    padding-bottom: 10px;
}

.finished-image {
    height: 200px;
    width: auto;
}